build/html/pages/arm.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="format-detection" content="telephone=no"/><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,900&amp;amp;subset=cyrillic" rel="stylesheet"/><link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/vendor.min.css">
    <link rel="stylesheet" href="../../css/commin.min.css">
    <title>Главная</title>
  </head>
  <body>
    <div class="page page-index">
      <!-- header-->
      <div class="arm-header">
        <div class="arm-header__title">ИС “Е-обращения” Саулембеков Е.А.</div>
        <div class="arm-header__control">     
          <form action="#!" class="arm-search">
            <input type="text" placeholder="Поиск"/>
            <button><i class="fas fa-search"></i></button>
          </form>
          <ul class="arm-header__lang">
            <li><a href="#!" class="link active"><img src="../../images/icons/rus.png" alt=""/></a></li>
            <li><a href="#!" class="link"><img src="../../images/icons/kaz.png" alt=""/></a></li>
          </ul><a href="#!" class="arm-author link"><i class="fas fa-sign-out-alt"></i><span>Выйти</span></a>
        </div>
      </div>
      <!-- end header-->
      
      <div id="main" class="main">
        <div class="arm-main">
          <div class="arm-sidebar">
            <div class="arm-profile">
              <div class="arm-profile__img"><img src="../../images/icons/arm-avatar.png" alt=""/></div>
              <div class="arm-profile__name"><span>Иванов Иван</span><span>Администратор</span></div>
            </div>
            <ul class="arm-menu">
              <li><a href="#!" class="link arm-menu__link"><img src="../../images/icons/arm-menu-icon.png" alt=""/><span>Находится на рассмотрении</span></a>
                <ul>
                  <li><a href="#!" class="link">Саб меню</a></li>
                  <li><a href="#!" class="link">Саб меню</a></li>
                  <li><a href="#!" class="link">Саб меню</a></li>
                </ul>
              </li>
              <li><a href="#!" class="link arm-menu__link"><img src="../../images/icons/arm-menu-icon-2.png" alt=""/><span>Отправлено на согласование</span></a>
                <ul>
                  <li><a href="#!" class="link">Находится на согласовании</a></li>
                  <li><a href="#!" class="link">Подписано</a></li>
                  <li><a href="#!" class="link">На отправке</a></li>
                </ul>
              </li>
              <li><a href="#!" class="link arm-menu__link"><img src="../../images/icons/arm-menu-icon-3.png" alt=""/><span>Находится на рассмотрении</span></a>
                <ul>
                  <li><a href="#!" class="link">Саб меню</a></li>
                  <li><a href="#!" class="link">Саб меню</a></li>
                  <li><a href="#!" class="link">Саб меню</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="arm-content">
            <div class="arm-content__title">Находится на рассмотрении</div>
            <div class="arm-content__main">
              <div class="arm-statusbar">
                <ul>
                  <li>
                    <div class="circle-green circle"></div>Контрольный срок более трех дней
                  </li>
                  <li>
                    <div class="circle-red circle"></div>Истек контрольный срок рассмотрения
                  </li>
                  <li>
                    <div class="circle-yellow circle"></div>Контрольный срок менее трех дней
                  </li>
                </ul>
              </div>
              <div class="arm-table">
                <table>
                  <thead>
                    <tr>
                      <td>№</td>
                      <td>Статус</td>
                      <td>Обращение</td>
                      <td>ФИО</td>
                      <td>Таймер</td>
                      <td>Переадресация</td>
                      <td>Ответ</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>
                        <div class="circle-green circle"></div>
                      </td>
                      <td>Заявление/Использование и охрана земель/Нерациональное использование земельных участков</td>
                      <td>Маратов Серик Ерланович</td>
                      <td>
                        <div class="add-number">15 дней<img src="../../images/icons/add.png" alt="" class="add-number__icon"/></div>
                      </td>
                      <td><a href="#!" class="button">Переадресовать</a></td>
                      <td>Подготовка ответа</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>
                        <div class="circle-green circle"></div>
                      </td>
                      <td>Жалоба/Использование и охрана земель/Аренда земли</td>
                      <td>Петров Георгий Александрович</td>
                      <td>
                        <div class="add-number">15 дней<img src="../../images/icons/add.png" alt="" class="add-number__icon"/></div>
                      </td>
                      <td><a href="#!" class="button">Переадресовать</a></td>
                      <td>Подготовка ответа</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>
                        <div class="circle-red circle"></div>
                      </td>
                      <td>Заявление/Земельные ресурсы/Предоставление земельного участка под строительство коммерческой недвижимости</td>
                      <td>Габдуллина Ляззат Куанышевна</td>
                      <td>
                        <div class="add-number">-3 дней<img src="../../images/icons/add.png" alt="" class="add-number__icon"/></div>
                      </td>
                      <td><a href="#!" class="button">Переадресовать</a></td>
                      <td>Подготовка ответа</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>
                        <div class="circle-yellow circle"></div>
                      </td>
                      <td>Отклик/Земельные ресурсы/Предоставление земельного участка из гос.собственности для физических лиц</td>
                      <td>Кадырбек Есбол Маратулы</td>
                      <td>
                        <div class="add-number">2 дней<img src="../../images/icons/add.png" alt="" class="add-number__icon"/></div>
                      </td>
                      <td><a href="#!" class="button">Переадресовать</a></td>
                      <td>Подготовка ответа</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>
                        <div class="circle-yellow circle"></div>
                      </td>
                      <td>Заявление/Земельныересурсы/Изменение целевого назначения земельного участка</td>
                      <td>Сериков Азамат Азаматович</td>
                      <td>
                        <div class="add-number">7 дней<img src="../../images/icons/add.png" alt="" class="add-number__icon"/></div>
                      </td>
                      <td><a href="#!" class="button">Переадресовать</a></td>
                      <td>Доработать</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer-->
      <div class="arm-footer">
        <div class="arm-footer__block">
          <p>Тел.: 8(7172) 777-888</p>
          <p>Почта: info@mail.ru</p>
          <p>2018. Все права защищены.</p>
        </div>
      </div>
      <!-- end footer      -->
    </div>
    <!-- popups-->
    <div id="search" class="popup">
      <div class="popup-inner">
        <div class="popup-header">
          <div class="popup-title">ПОИСК ОБРАЩЕНИЙ</div><a href="#!" class="link"><i class="fas fa-home"></i></a>
        </div>
        <div class="popup-body">
          <form action="#!" class="popup-form">
            <div class="input-row">
              <div class="input-row__inner">
                <div class="input-row__title">Введите ИИН/БИН</div>
                <div class="input-row__input">
                  <input type="text"/>
                </div>
              </div>
            </div>
            <div class="input-row">
              <div class="input-row__inner">
                <div class="input-row__title">Номер обращения</div>
                <div class="input-row__input">
                  <input type="text"/>
                </div>
              </div>
            </div>
            <div class="input-row">
              <div class="input-row__inner">
                <div class="input-row__title">Государственный орган</div>
                <div class="input-row__input">
                  <input list="datalist-1" class="datalist"/>
                  <datalist id="datalist-1">
                    <option value="value1"></option>
                    <option value="value2"></option>
                    <option value="value3"></option>
                  </datalist>
                </div>
              </div>
            </div>
            <div class="input-row">
              <div class="input-row__inner">
                <div class="input-row__title">Категория вопроса</div>
                <div class="input-row__input">
                  <input list="datalist-2" class="datalist"/>
                  <datalist id="datalist-2">
                    <option value="value1"></option>
                    <option value="value2"></option>
                    <option value="value3"></option>
                  </datalist>
                </div>
              </div>
            </div>
            <div class="input-row">
              <div class="input-row__inner">
                <div class="input-row__title">Характер вопроса</div>
                <div class="input-row__input">
                  <input list="datalist-3" class="datalist"/>
                  <datalist id="datalist-3">
                    <option value="value1"></option>
                    <option value="value2"></option>
                    <option value="value3"></option>
                  </datalist>
                </div>
              </div>
            </div>
            <div class="input-row input-small">
              <div class="input-row__inner">
                <div class="input-row__title"></div>
                <div class="input-row__input"><span>Период подачи обращения</span>
                  <div class="row">
                    <div class="col-sm-6"><span>c</span>
                      <input type="text"/>
                    </div>
                    <div class="col-sm-6"><span>по</span>
                      <input type="text"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="popup-button txt-ar">
              <button class="button">Поиск</button>
            </div>
          </form>
          <div class="table-wrap">
            <table>
              <thead>
                <tr>
                  <td>Номер</td>
                  <td>Обращение</td>
                  <td>ФИО</td>
                  <td>Действие</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>фл-1-15</td>
                  <td>Заявление/Использование и охрана земель/Нерациональное использование земельных участков Маратов Серик Ерланович</td>
                  <td>Прошу Вас дать разъяснения по поводу ведения сельскохозяйственного производства, не обеспечивающее сохранение почвенного плодородия и экологическую безопасность окружающей природной среды</td>
                  <td><a href="#!" class="button">Выбрать</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <div class="input-row">
              <div class="input-row__inner">
                <div class="input-row__title">Статус обращения</div>
                <div class="input-row__input">
                  <input list="datalist-4" class="datalist"/>
                  <datalist id="datalist-4">
                    <option value="value1"></option>
                    <option value="value2"></option>
                    <option value="value3"></option>
                  </datalist>
                </div>
              </div>
            </div>
            <div class="input-row">
              <div class="input-row__inner">
                <div class="input-row__title">Причина повторного обращения</div>
                <div class="input-row__input">
                  <input list="datalist-5" class="datalist"/>
                  <datalist id="datalist-5">
                    <option value="value1"></option>
                    <option value="value2"></option>
                    <option value="value3"></option>
                  </datalist>
                </div>
              </div>
            </div>
          </div>
          <div class="popup-button txt-ac">
            <button class="button">Продолжить</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end popups       -->
    <script src="../../scripts/vendor.min.js"></script>
    <script src="../../scripts/common.min.js"></script>
  </body>
</html>

src/jade/pages/arm.jade
extends ../template/template
include ../_mixins


block vars
  - title = 'Главная';
  - pageClass = 'page-index';
  - showPopup = false;
  - isArm = true;

block content

  .arm-main
    include ../particles/arm-sidebar
    .arm-content
      .arm-content__title Находится на рассмотрении
      .arm-content__main
        .arm-statusbar
          ul
            li
              .circle-green.circle
              |Контрольный срок более трех дней
            li
              .circle-red.circle
              |Истек контрольный срок рассмотрения
            li
              .circle-yellow.circle
              |Контрольный срок менее трех дней

        .arm-table
          table
            thead
              tr
                td №
                td Статус
                td Обращение
                td ФИО
                td Таймер
                td Переадресация
                td Ответ
            tbody
              tr
                td 1
                td: .circle-green.circle
                td Заявление/Использование и охрана земель/Нерациональное использование земельных участков
                td Маратов Серик Ерланович
                td: .add-number
                  |15 дней
                  img(src="../../images/icons/add.png", alt="").add-number__icon
                td: a(href="#!").button Переадресовать
                td Подготовка ответа
              tr
                td 2
                td: .circle-green.circle
                td Жалоба/Использование и охрана земель/Аренда земли
                td Петров Георгий Александрович
                td: .add-number
                  |15 дней
                  img(src="../../images/icons/add.png", alt="").add-number__icon
                td: a(href="#!").button Переадресовать
                td Подготовка ответа
              tr
                td 3
                td: .circle-red.circle
                td Заявление/Земельные ресурсы/Предоставление земельного участка под строительство коммерческой недвижимости
                td Габдуллина Ляззат Куанышевна
                td: .add-number
                  |-3 дней
                  img(src="../../images/icons/add.png", alt="").add-number__icon
                td: a(href="#!").button Переадресовать
                td Подготовка ответа
              tr
                td 4
                td: .circle-yellow.circle
                td Отклик/Земельные ресурсы/Предоставление земельного участка из гос.собственности для физических лиц
                td Кадырбек Есбол Маратулы
                td: .add-number
                  |2 дней
                  img(src="../../images/icons/add.png", alt="").add-number__icon
                td: a(href="#!").button Переадресовать
                td Подготовка ответа
              tr
                td 5
                td: .circle-yellow.circle
                td Заявление/Земельныересурсы/Изменение целевого назначения земельного участка
                td Сериков Азамат Азаматович
                td: .add-number
                  |7 дней
                  img(src="../../images/icons/add.png", alt="").add-number__icon
                td: a(href="#!").button Переадресовать
                td Доработать
