src/jade/template/footer.jade
include ../_mixins

footer.footer
  .wrapper
    .footer-inner
      .row
        .col-sm-4
          .footer-content
            img(src="../../images/icons/footer-logo.jpg", alt="")
            div
              .h3 Информационный сервис
              p Комитет по правовой статистике и специальным учетам  Генеральной прокуратуры Республики Казахстан
        .col-sm-4
          .footer-content.upcs
            img(src="../../images/icons/komitet.jpg", alt="")
            div
              p Комитет по правовой статистике и специальным учетам Генеральной прокуратуры Республики Казахстан
        .col-sm-4
          form
            input(type="text" placeholder="Электронная почта")
            button <i class="fas fa-check"></i> Подписаться
          .footer-social
            a(href="#!").link: <i class="fab fa-facebook"></i>
            a(href="#!").link: <i class="fab fa-instagram"></i>
            a(href="#!").link: <i class="fab fa-google-plus-square"></i>
            a(href="#!").link: <i class="fab fa-twitter"></i>
            a(href="#!").link: <i class="fab fa-vk"></i>
          .footer-copyright
            @ 2018. Все права защищены. “EGOV”

src/html/template/footer.html

<footer class="footer">
  <div class="wrapper">
    <div class="footer-inner">
      <div class="row">
        <div class="col-sm-4">
          <div class="footer-content"><img src="../../images/icons/footer-logo.jpg" alt=""/>
            <div>
              <div class="h3">Информационный сервис</div>
              <p>Комитет по правовой статистике и специальным учетам  Генеральной прокуратуры Республики Казахстан</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="footer-content upcs"><img src="../../images/icons/komitet.jpg" alt=""/>
            <div>
              <p>Комитет по правовой статистике и специальным учетам Генеральной прокуратуры Республики Казахстан</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <form>
            <input type="text" placeholder="Электронная почта"/>
            <button><i class="fas fa-check"></i> Подписаться</button>
          </form>
          <div class="footer-social"><a href="#!" class="link"><i class="fab fa-facebook"></i></a><a href="#!" class="link"><i class="fab fa-instagram"></i></a><a href="#!" class="link"><i class="fab fa-google-plus-square"></i></a><a href="#!" class="link"><i class="fab fa-twitter"></i></a><a href="#!" class="link"><i class="fab fa-vk"></i></a></div>
          <div class="footer-copyright">@ 2018. Все права защищены. “EGOV”</div>
        </div>
      </div>
    </div>
  </div>
</footer>
