build/html/template/header.html

<header class="header">
  <div class="wrapper">
    <div class="header-inner"><a href="#!" class="link header-logo"><img src="../../images/icons/header-logo.png" alt=""/></a>
      <div class="header-title h2">РЕГИСТРАЦИЯ ОБРАЩЕНИЯ</div>
      <div class="header-buttons"><a href="#!" class="link"><i class="fas fa-user-circle"></i></a><a href="#!" class="link"><i class="fas fa-home"></i></a></div>
    </div>
  </div>
</header>

src/jade/template/header.jade
include ../_mixins

header.header
  .wrapper
    .header-inner
      a(href="#!").link.header-logo: img(src="../../images/icons/header-logo.png", alt="")
      .header-title.h2 РЕГИСТРАЦИЯ ОБРАЩЕНИЯ
      .header-buttons
        a(href="#!").link: <i class="fas fa-user-circle"></i>
        a(href="#!").link: <i class="fas fa-home"></i>
